<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.java.mapper.ReceiveInfoMapper">
	<select id="getReceiveInfo" resultType="Map">
		SELECT pid, buy_date,supplier_name,linkman,phone,num FROM
		(SELECT pid, buy_date,supplier_name,linkman,phone FROM
		(SELECT id AS pid,buy_date,supplier_id
		FROM plan WHERE is_order_check='1' AND is_receive='0') t1
		INNER JOIN
		(SELECT id,name AS supplier_name,linkman,phone FROM supplier) t2
		ON t1.supplier_id=t2.id) t3
		INNER JOIN
		(SELECT plan_id,count(*) AS num FROM food_plan GROUP BY plan_id) t4
		ON t3.pid=t4.plan_id
	</select>
	
</mapper>